html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
}

html.has-scroll-scrolling .calendly {
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

main,
header {
  visibility: hidden;
}

body .transition {
  display: block;
}
.w-editor .transition {
  display: none;
}
.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

.hero__right--item .h3--48 {
  background-image: linear-gradient(329deg, #6f3ce1 21.44%, #2e66f7 89%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  display: block;
}

.hero__img--item,
.overview__left,
.video__body {
  transform: rotate(0);
}

.video__title {
  transform: translateZ(2px);
}

.video__title {
  transform: translateZ(1px);
}

.btn-parent[href="#"] {
  pointer-events: none;
}

label.error {
  font-size: 0.81em;
  font-weight: 400;
  margin-top: 10px;
  opacity: 0;
  position: absolute;
  top: 100%;
}

.noverflow {
  touch-action: none;
}

.profile__item:first-child .profile__item--title div {
  margin-right: 0.4vw;
}

.login__form--field {
  border-radius: 0 !important;
}

/* 
  *  Swiper 
  */

.hero__swiper--parent {
  pointer-events: none;
  width: 36em;
}

.hero__swiper--parent .swiper-slide {
  height: auto;
}

/* .hero__swiper--parent .swiper-wrapper {
    justify-content: center;
  } */

.swiper-slide .h3--48 {
  transition: 0.4s ease;
  transform-origin: left center;
}

.swiper-slide-duplicate-active .h3--48,
.swiper-slide-active .h3--48 {
  transform: scale(1.2);
  background-image: linear-gradient(90deg, #6f3ce1, #f592b1 52.08%, #2e66f7);
}

/* .testimonial__cms-item {
    width: 37.62em !important;
    margin-right: 3.7em;
  } */

.stories__body .swiper {
  overflow: visible !important;
}

.swiper-pagination-bullet {
  width: 4.57em !important;
  height: 1.91em !important;
  border-radius: 0.58em !important;
  transition: 0.4s ease;
  margin: 0 1.04em !important;
  margin-left: 0 !important;
}

.swiper-pagination-bullet-active {
  width: 9.66em !important;
  background: linear-gradient(
    329.32deg,
    #6f3ce1 21.44%,
    #2e66f7 88.97%
  ) !important;
}

/* *
  * Button Hover
  */

/* .profile__bio--tag,
  .profile__item--cms-item {
    transition: transform 0.4s ease;
  }
  
  .tags__cms-item:hover,
  .profile__bio--tag:hover,
  .profile__item--cms-item:hover {
    transform: scale(1.2) !important;
  } */

.nav__item,
.footer__item,
.nav__login {
  position: relative;
}

.nav__item:after,
.footer__item:after,
.nav__login:after {
  content: "";
  position: absolute;
  transition: all 0.4s ease;
  margin: auto;
  margin-bottom: 0px;
  height: 1px;
  background: #041e62;
  opacity: 1;
  top: auto;
  bottom: -2px;
  left: auto;
  right: 0;
  width: 0;
}

.nav__item:hover:after,
.footer__item:hover:after,
.nav__login:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

/* 
  * Media Queries
  */
@media screen and (min-width: 991px) {
  /* 
    *  Swiper 
    */
  .testimonial__cms-item {
    width: 37.62em !important;
    margin-right: 3.7em;
  }

  .testimonial__cms-list {
    padding-left: 120em;
  }

  .calendly-inline-widget {
    height: 650px;
  }

  /*
    *  Links Gradient
    */
  .nav__item.w--current,
  a.footer__item.w--current {
    background: linear-gradient(329.32deg, #6f3ce1 21.44%, #2e66f7 88.97%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
  }
}

@media screen and (max-width: 991px) {
  /* 
    *  Swiper 
    */
  .hero__swiper--parent {
    width: auto;
  }

  /*
    *  Links Gradient
    */
  .burger__item.w--current {
    background: linear-gradient(329.32deg, #6f3ce1 21.44%, #2e66f7 88.97%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .profile__item:first-child .profile__item--title div {
    margin-right: 1.2vw;
  }

  .calendly-inline-widget {
    height: 990px;
    overflow: hidden !important;
  }

  .margin--40-top iframe {
    touch-action: none;
    overscroll-behavior: none;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  /* 
    *  Swiper 
    */
  .testimonial__cms-item {
    width: 73.07em !important;
    margin-right: 3.7em;
  }

  .testimonial__cms-wrapper {
    padding-left: 200em;
  }

  .swiper-slide-duplicate-active .h3--48,
  .swiper-slide-active .h3--48 {
    transform: scale(1);
    background-image: linear-gradient(90deg, #6f3ce1, #f592b1 52.08%, #2e66f7);
  }

  .calendly-inline-widget {
    height: 980px;
  }
}

/*
  *   Select Styles
  */
.w-input,
.w-select {
  border: none !important;
}

select {
  display: none !important;
}
.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: inherit;
  width: 100%;
  height: 100%;
  padding-left: 0.81em;
  padding-right: 0.81em;
}
.styledSelect {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(https://uploads-ssl.webflow.com/62fa12005b54e470cfe44e68/630f57d9741decfa6f7faac3_select%20arrow.svg) !important;
  background-repeat: no-repeat !important;
  background-position: calc(100% - 1px) center !important;
  background-size: 20px !important;
}
.circle {
  width: 1.39em;
  height: 1.39em;
  border-radius: 100%;
  border: 1px dashed #041e62;
  margin-right: 0.46em;
}
.circle.bg--gradient-3 {
  border: none !important;
}
.select__check--circle:redirected-focus {
  box-shadow: none;
}
.options {
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid #f2f4f7;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  max-height: 18.52em;
  overflow-y: scroll;
}
.options li {
  padding: 0.58em 0 0.58em 0.81em;
  margin: 0 0;
  display: flex;
  align-items: center;
}
.options li:hover {
  background-color: #f9fafb;
}
.options li:before {
  content: "";
  width: 1.39vw;
  height: 1.39vw;
  border-radius: 100%;
  border: 1px dashed #041e62;
  margin-right: 0.46em;
}

._cUP1np9gMvFQrcPftuf._Y8HCTxgNkwxXcG_DCXx {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

._cUP1np9gMvFQrcPftuf {
  justify-content: left !important;
}

@media screen and (max-width: 991px) {
  .select__top {
    height: 5.73em;
  }
  .circle,
  .options li:before {
    width: 3.13vw;
    height: 3.13vw;
    margin-right: 2vw;
  }

  .options li {
    padding: 1vw 0 1vw 2vw;
    margin: 0 0;
    display: flex;
    align-items: center;
  }

  .select {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (max-width: 480px) {
  .select__top {
    height: 11.28em;
  }
  .circle,
  .options li:before {
    width: 6.15vw;
    height: 6.15vw;
    margin-right: 3.59vw;
  }

  .options li {
    padding: 2.56vw 0 2.56vw 3.59vw;
    margin: 0 0;
    display: flex;
    align-items: center;
  }

  .select {
    padding-left: 3.59em;
    padding-right: 3.59em;
  }
  .options {
    max-height: 50.52em;
  }
}
